.headers{
    font-family: 'Arial';
    margin:0;
}
.accent-color{
    color: yellowgreen;
}
.router-link-active {
    color: red;
  }
  
[v-cloak]{
    display: none;
}
body{
    background: gray;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }